/*
Theme Name: Campaign
Theme URI: http://themes.designcrumbs.com/campaign
Description: Campaign is a premium WordPress theme created to help Candidates running for office get a slick online presence.
Author: Jake Caputo
Author URI: http://designcrumbs.com
Version: 2.4.2
Tags: blue, green, white, yellow, light, two-columns, left-sidebar, right-sidebar, fluid-layout, custom-background, custom-menu, editor-style, featured-images, full-width-template, theme-options, threaded-comments, translation-ready

License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* ============================================== FONTS ============================================== */

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('fonts/MonoSocialIconsFont-1.10.eot');
    src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ============================================== BASIC STUFF ============================================== */

* {
    padding: 0;
    margin: 0;
}

body,
input,
textarea,
select {
    color: #393939;
    font-size: 14px;
    line-height: 21px;
    font-family: Helvetica,Arial,Verdana,sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline
}

p {
    margin: 0 0 15px
}

img {
    border: none
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both
}

.clearfix {
    zoom: 1
}

	.clearfix:before,
	.clearfix:after {
	    content: "";
	    display: table;
	    line-height: inherit;
	}
	
	.clearfix:after {
	    clear: both
	}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
    display: block
}

blockquote,
q {
    font-style: oblique;
    font-family: Georgia, serif;
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 25px;
    padding: 0 0 0 25px;
    border-left: 5px solid #EFEFEF;
}

	blockquote cite {
		display: block;
		margin-top: 15px;
	}

.hide {
    display: none
}

.gallery-item {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 1%;
}

	.gallery-item * {
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	.gallery-item a,
	.gallery-item img {
		display: block;
		max-width: 100%;
		height: auto;
		border: none !important;
	}
	
	.gallery-item .gallery-caption {
		margin: 10px 0 0;
	}

code,
kbd,
tt {
	display: inline-block;
	font-family: monospace;
}

pre {
	font-family: monospace;
	background-color: #E3E3E3;
	padding: 5px 15px;
	max-width: 100%;
	overflow: auto;
	margin-bottom: 15px;
}

small {
	font-size: 12px;
}

strong,
b,
big {
	font-weight: 700;
}

big {
	font-size: 1.2em;
}

address {
	margin-bottom: 15px;
}

cite,
var {
	font-style: oblique;
	color:#848484;
}

ins {
	text-decoration: underline;
	color:#848484; 
}

sub,
sup {
	display: inline-block;
	font-size: .8em;
}

/* ============================================== LISTS & GENERAL THINGS ============================================== */

ul,
ol,
dl,
ul li,
ul li,
dl dt,
dl dd  {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 30px;
	margin-bottom: 20px;
}

/* lists inside posts */

.entry-content ul,
.entry-content ol {
    margin-bottom: 15px
}

    .entry-content ul ol {
        margin-left: 0
    }

    .entry-content ul li {
        margin-left: 10px;
        list-style: disc;
        list-style-position: inside;
    }

        .entry-content ul li ol {
            margin-left: 10px
        }

    .entry-content ol li {
        margin-left: 10px;
        list-style: decimal;
        list-style-position: inside;
    }

        .entry-content ol li li,
        .entry-content ul li li {
            margin-left: 20px
        }
        
        .entry-content ul ul,
        .entry-content ol ol,
        .entry-content ul ol,
        .entry-content ol ul {
            margin-bottom: 0
        }
        
table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

	table th {
		border-bottom:1px solid #E3E3E3;
	}

table th,
table td {
	padding:5px 10px;
}

table thead tr,
table th,
table tr:nth-child(2n) {
	background-color:#F4F4F4
}

/* ============================================== HEADINGS ============================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    font-weight: normal;
    line-height: 1.5em;
}

h4,
h5,
h6 {
    font-family: Helvetica,Arial,Verdana,sans-serif
}

h4 {
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 18px;
}

h5 {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
}

h6 {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.post_title {
    padding-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
    margin: 0 0 40px;
    line-height: 30px;
}

#comments_closed,
#comments {
    margin: 0 0 20px;
    text-align: center;
}

h3#search {
    margin: 0 0 30px;
    background-color: #F5F5F5;
    padding: 10px;
    font-family: Helvetica,Arial,Verdana,sans-serif;
}

#footer h6 {
    color: #737373;
    text-transform: uppercase;
}

#footer_slogan {
    text-align: center;
    color: #737373;
    text-transform: uppercase;
    margin: 0 0 40px;
    padding-bottom: 50px;
    background: url("images/stars_wide.png") bottom center no-repeat transparent;
}

/* ============================================== MAIN DIV'S ============================================== */

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.container {
    width: 960px;
    padding: 0;
    margin: auto;
    position: relative;
}

#pre_header {
    height: 5px;
    display: block;
    border-bottom: 1px solid #FFFFFF;
}

#header {
    position: relative;
    z-index: 5;
    min-height: 186px;
    height: auto;
    width: 100% !important;
}

#headerStickyWrapper {
    margin: 0 auto;
    width: 100% !important;
}

#header .container {
    padding: 0
}

#logo_wrap {
    padding: 20px 10px;
    min-height: 80px;
    height: auto;
    position: relative;
}

#the_logo {
    min-height: 80px;
    line-height: 80px;
    display: block;
    margin: 0;
    float: left;
    opacity: 1;
    -webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

	#the_logo:hover {
		opacity: .8;
	}

    #the_logo img {
        display: block
    }

    #the_logo h1 {
        margin: 0;
        padding: 20px 0;
        min-height: 40px;
        height: auto;
        line-height: 60px;
        word-wrap: break-word;
    }

    #the_logo a:hover {
        text-decoration: none
    }

#header #searchform {
    float: right;
    margin-top: 25px;
}

#content {
    padding: 0 0 40px;
    border-bottom: 1px solid #C8C8C8;
    position: relative;
    z-index: 4;
    margin-top: -10px;
}

    #content .container {
        padding: 19px;
        width: 920px;
        position: relative;
        background-color: #FFFFFF;
        border-width: 1px 1px 2px;
        border-color: #DCDCDC #DCDCDC #D3D3D3;
        border-style: solid;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset;
        -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset;
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset;
    }

input[type="submit"],
.button,
.scheme_red #main_menu #donate_now {
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    line-height: 29px;
    height: auto;
    padding: 0 15px;
    text-align: center;
    font-size: 12px;
    width: auto;
    min-width: 65px;
    cursor: pointer;
    text-shadow: 0 1px 0 #333333;
    display: inline-block;
    font-family: Georgia,serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #114c8f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(12, 81, 153)), to(rgb(23, 71, 134)));
    background-image: -webkit-linear-gradient(top, rgb(12, 81, 153), rgb(23, 71, 134));
    background-image: -moz-linear-gradient(top, rgb(12, 81, 153), rgb(23, 71, 134));
    background-image: -o-linear-gradient(top, rgb(12, 81, 153), rgb(23, 71, 134));
    background-image: -ms-linear-gradient(top, rgb(12, 81, 153), rgb(23, 71, 134));
    background-image: linear-gradient(top, rgb(12, 81, 153), rgb(23, 71, 134));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0c5199', EndColorStr='#174786');
    border: none;
}

input[type="submit"]:hover,
.button:hover,
.scheme_red #main_menu #donate_now:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1e58a4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(33, 94, 174)), to(rgb(28, 82, 154)));
    background-image: -webkit-linear-gradient(top, rgb(33, 94, 174), rgb(28, 82, 154));
    background-image: -moz-linear-gradient(top, rgb(33, 94, 174), rgb(28, 82, 154));
    background-image: -o-linear-gradient(top, rgb(33, 94, 174), rgb(28, 82, 154));
    background-image: -ms-linear-gradient(top, rgb(33, 94, 174), rgb(28, 82, 154));
    background-image: linear-gradient(top, rgb(33, 94, 174), rgb(28, 82, 154));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#215eae', EndColorStr='#1c529a');
}

input[type="submit"]:active,
.button:active {
    position: relative;
    color: #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

input[type="submit"].button_red,
.button_red,
#main_menu #donate_now {
    background-color: #a90005;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(177, 0, 0)), to(rgb(161, 0, 10)));
    background-image: -webkit-linear-gradient(top, rgb(177, 0, 0), rgb(161, 0, 10));
    background-image: -moz-linear-gradient(top, rgb(177, 0, 0), rgb(161, 0, 10));
    background-image: -o-linear-gradient(top, rgb(177, 0, 0), rgb(161, 0, 10));
    background-image: -ms-linear-gradient(top, rgb(177, 0, 0), rgb(161, 0, 10));
    background-image: linear-gradient(top, rgb(177, 0, 0), rgb(161, 0, 10));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b10000', EndColorStr='#a1000a');
}

input[type="submit"].button_red:hover,
.button_red:hover,
#main_menu #donate_now:hover {
    text-decoration: none;
    background-color: #bd010e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(197, 1, 15)), to(rgb(182, 1, 13)));
    background-image: -webkit-linear-gradient(top, rgb(197, 1, 15), rgb(182, 1, 13));
    background-image: -moz-linear-gradient(top, rgb(197, 1, 15), rgb(182, 1, 13));
    background-image: -o-linear-gradient(top, rgb(197, 1, 15), rgb(182, 1, 13));
    background-image: -ms-linear-gradient(top, rgb(197, 1, 15), rgb(182, 1, 13));
    background-image: linear-gradient(top, rgb(197, 1, 15), rgb(182, 1, 13));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#c5010f', EndColorStr='#b6010d');
}

input[type="submit"].button_gray,
.button_gray {
    background-color: #e0e0e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 224, 224)), to(rgb(213, 213, 213)));
    background-image: -webkit-linear-gradient(top, rgb(224, 224, 224), rgb(213, 213, 213));
    background-image: -moz-linear-gradient(top, rgb(224, 224, 224), rgb(213, 213, 213));
    background-image: -o-linear-gradient(top, rgb(224, 224, 224), rgb(213, 213, 213));
    background-image: -ms-linear-gradient(top, rgb(224, 224, 224), rgb(213, 213, 213));
    background-image: linear-gradient(top, rgb(224, 224, 224), rgb(213, 213, 213));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e0e0e0', EndColorStr='#d5d5d5');
    color: #444444;
    text-shadow: none;
}

input[type="submit"].button_gray:hover,
.button_gray:hover {
    text-decoration: none;
    background-color: #d4d4d4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(218, 218, 218)), to(rgb(206, 206, 206)));
    background-image: -webkit-linear-gradient(top, rgb(218, 218, 218), rgb(206, 206, 206));
    background-image: -moz-linear-gradient(top, rgb(218, 218, 218), rgb(206, 206, 206));
    background-image: -o-linear-gradient(top, rgb(218, 218, 218), rgb(206, 206, 206));
    background-image: -ms-linear-gradient(top, rgb(218, 218, 218), rgb(206, 206, 206));
    background-image: linear-gradient(top, rgb(218, 218, 218), rgb(206, 206, 206));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dadada', EndColorStr='#cecece');
    color: #444444;
    text-shadow: none;
}

.widget .button,
.footer_widget .button {
    margin: 15px 0 0
}

/* ============================================== FOOTER ============================================== */

#footer {
    background-color: #EBEBEB;
    border-top: 1px solid #F5F5F5;
    background-position: top center;
    padding: 0;
    font-size: 12px;
    line-height: 19px;
}

    #footer .container {
        padding: 30px 0 0;
        overflow: hidden;
    }

    #footer .button {
        font-size: 10px !important;
        height: 24px;
        line-height: 24px;
        padding: 0 5px;
    }

#footer_widgets {
    width: 990px;
    margin-right: -30px;
}

#footer_widgets.footer_widget_count4 {
    width: 1000px;
    margin-right: -40px;
}

.footer_widget {
    float: left;
    margin: 0 30px 0 0;
    padding: 0 0 40px;
}

.footer_widget_count1 .footer_widget {
    width: 960px
}

.footer_widget_count2 .footer_widget {
    width: 465px
}

.footer_widget_count3 .footer_widget,
.footer_widget_overflow .footer_widget {
    width: 300px
}

.footer_widget_count4 .footer_widget {
    width: 210px;
    margin: 0 40px 0 0;
}

.footer_widget_count5 .footer_widget {
    width: 168px
}

.footer_widget .widgettitle {
    margin: 0 0 20px
}

.footer_widget_overflow .footer_widget:nth-child(3n+1),
.banner_widget_overflow .widget:nth-child(3n+1),
#home_latest_posts .single_latest:nth-child(3n+2) {
	clear:both;
}

#menu-footer li {
    width: 80px
}

#twitter_div span {
    display: block;
    padding: 0 0 5px;
}

#footer ul {
    margin-bottom: -10px
}

    #footer ul li {
        margin-bottom: 10px
    }

#post_footer {
    text-align: center;
    padding: 30px 0;
    color: #787878;
    font-size: 12px;
    border-top: 1px solid #D3D3D3;
}

    #post_footer a {
        color: #787878
    }

#socnets_wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    top: -47px;
    margin-bottom: -22px;
}

    #socnets_wrap #socnets {
        float: left;
        position: relative;
        left: 50%;
    }

        #socnets_wrap #socnets a {
            float: left;
            position: relative;
            right: 50%;
            height: 32px;
            width: 32px;
            margin: 0 5px;
            display: block;
            background-color: #EBEBEB;
            font-size: 32px;
            line-height: 32px;
        }
        
        	#socnets_wrap #socnets a:hover {
	        	text-decoration: none;
	        	-webkit-transition: all .2s linear;
				-moz-transition: all .2s linear;
				-ms-transition: all .2s linear;
				-o-transition: all .2s linear;
				transition: all .2s linear;
        	}

            #socnets_wrap #socnets a,
            #socnets_wrap #socnets a:before {
			    font-family: 'Mono Social Icons Font';
			    -webkit-text-rendering: optimizeLegibility;
			    -moz-text-rendering: optimizeLegibility;
			    -ms-text-rendering: optimizeLegibility;
			    -o-text-rendering: optimizeLegibility;
			    text-rendering: optimizeLegibility;
			    -webkit-font-smoothing: antialiased;
			    -moz-font-smoothing: antialiased;
			    -ms-font-smoothing: antialiased;
			    -o-font-smoothing: antialiased;
			    font-smoothing: antialiased;
			}
			
			#socnets a.socnet-twitter:before {
		        content: "\e286"
		    }
		
		    #socnets a.socnet-twitter:hover {
		        color: #00ACED
		    }
		
		    #socnets a.socnet-facebook:before {
		        content: "\e227"
		    }
		
		    #socnets a.socnet-facebook:hover {
		        color: #335795
		    }
		
		    #socnets a.socnet-google:before {
		        content: "\e239"
		    }
		
		    #socnets a.socnet-google:hover {
		        color: #DD4B39
		    }
		
		    #socnets a.socnet-flickr:before {
		        content: "\e229"
		    }
		
		    #socnets a.socnet-flickr:hover {
		        color: #FF0084
		    }
		
		    #socnets a.socnet-tumblr:before {
		        content: "\e285"
		    }
		
		    #socnets a.socnet-tumblr:hover {
		        color: #668195
		    }
		
		    #socnets a.socnet-vimeo:before {
		        content: "\e289"
		    }
		
		    #socnets a.socnet-vimeo:hover {
		        color: #0DADD6
		    }
		
		    #socnets a.socnet-youtube:before {
		        content: "\e299"
		    }
		
		    #socnets a.socnet-youtube:hover {
		        color: #D02525
		    }
		    
		    #socnets a.socnet-pinterest:before {
		        content: "\e264"
		    }
		
		    #socnets a.socnet-pinterest:hover {
		        color: #CB2027
		    }
		    
		    #socnets a.socnet-instagram:before {
		        content: "\e300"
		    }
		
		    #socnets a.socnet-instagram:hover {
		        color: #3F729B
		    }

#paid_for {
    background-color: #FFFFFF;
    padding: 9px 14px;
    line-height: 18px;
    border: 1px solid #BEBEBE;
    margin: auto;
    display: inline-block;
    margin-bottom: 10px;
}

/* ============================================== MENUS ============================================== */

#main_menu {
    height: 50px;
    line-height: 50px;
    padding: 0 0 10px;
    width: 960px;
    margin: 0;
    position: relative;
}

    select.select-menu,
    #main_menu span.select {
        display: none
    }

    #main_menu #donate_now {
        position: absolute;
        top: 0;
        right: 10px;
        height: 50px !important;
        line-height: 50px !important;
        border-left: 4px solid #671515 !important;
        border-right: 4px solid #671515 !important;
        border-radius: 0 !important;
        color: #FFFFFF !important;
        text-shadow: 0 1px 0 #333333 !important;
        padding: 0 10px !important;
    }

    #main_menu #donate_now:active {
        -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .1);
        box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .1);
    }

    #main_menu ul {
        margin: 0;
        padding: 0;
        height: 50px;
        line-height: 50px;
    }

        #main_menu ul li {
            float: left;
            line-height: 30px;
            margin: 10px 0 0 10px;
            padding-bottom: 10px;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
        }

    #main_menu a {
        color: #F5F5F5;
        display: block;
        padding: 0 10px;
    }

    #main_menu a:hover {
        text-decoration: none
    }

    #main_menu li:hover a,
    #main_menu li.current-menu-item a,
    #main_menu li.current_page_item a,
    #main_menu li.current_page_parent a,
    #main_menu li.current-menu-parent a {
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .05);
        box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, .05);
    }

/* DROP DOWN MENUS */

    #main_menu li li {
        padding: 5px 0;
        margin: 0;
        width: 200px;
        line-height: 20px;
    }

    #main_menu li:hover li a {
        border: none;
        color: #F5F5F5;
        background: none;
        width: auto;
        padding: 0 10px;
    }

    #main_menu li:hover li:hover a {
        color: #DEDEDE
    }

    #main_menu ul.menu li {
        position: relative
    }

        #main_menu ul.menu li ul {
            width: auto;
            display: none;
            margin: 0 0 0 0;
            padding: 0;
            z-index: 900;
            float: none;
            height: auto;
            position: absolute;
            top: 40px;
            -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
        }

            #main_menu ul.menu li ul li:hover ul {
                display: block;
                left: 200px;
                top: 0;
                padding: 0;
            }

            #main_menu ul.menu li ul li {
                position: relative;
                float: none;
                border-top: 1px dotted rgba(0, 0, 0, 0.2);
            }

            #main_menu ul.menu li ul li:first-child {
                border: none
            }

    #main_menu ul li ul li a {
        margin: 10px 0;
        padding: 0;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    #main_menu ul.menu li ul li a:hover {
        border: none
    }

/* ============================================== HOME ============================================== */

#home_content {
	background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    margin: -30px 0 30px;
    padding: 45px 0 30px;
}

#home_latest_posts {
    margin: 0 -30px 0 0
}

#latest-posts-title {
    width: 600px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.single_latest {
    width: 180px;
    margin: 0 30px 30px 0;
    position: relative;
    text-align: center;
}

    .single_latest h5 {
        margin-bottom: 10px
    }
    
    .single_latest img {
	    -webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		opacity: 1;
    }
    
    	.single_latest img:hover {
	    	opacity: .8
    	}

.single_latest_img_link {
    display: block
}

.single_latest .single_latest_img_link img {
    margin:0 auto 15px
}

	.single_latest .single_latest_img_link img.campaign_fallback {
		max-width: 170px;
		width: auto;
		max-height: 120px;
		height: auto;
	}

.single_featured_wrap .wp-post-image {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.port_cat_position {
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 30px;
    color: #999999;
}

    .port_cat_position a {
        color: #999999
    }

.no_margin .info_wrap,
#home_latest_posts .no_margin,
#footer .no_margin,
#content .no_margin,
.no_margin {
    margin: 0
}

#content .blog_magazine,
#content .blog_classic {
    margin-bottom: -35px
}

    #content .blog_magazine .no_margin_right {
        margin-right: 0
    }

#home_widgets {
    margin: 60px 0;
    margin: 15px -30px 30px;
    padding: 29px;
    border: 1px solid #DCDCDC;
    position: relative;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(251, 251, 251)));
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(251, 251, 251));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(251, 251, 251));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(251, 251, 251));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(251, 251, 251));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(251, 251, 251));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#fbfbfb');
}

    #home_widgets .widget {
        text-align: center
    }

    #home_widgets h3 {
        margin-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #EFEFEF;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

#home_widget_wrap {
    width: 960px;
    display: block;
    margin-right: -40px;
}

#home_widget_wrap.banner_widget_overflow {
    margin-bottom: -30px
}

#home_widget_wrap.banner_widget_count1 .widget {
    width: 920px;
    float: left;
    margin-right: 0;
}

#home_widget_wrap.banner_widget_count2 .widget {
    width: 440px;
    float: left;
    margin-right: 40px;
}

#home_widget_wrap.banner_widget_count3 .widget,
#home_widget_wrap.banner_widget_overflow .widget {
    width: 280px;
    float: left;
    margin-right: 40px;
}

#home_widget_wrap.banner_widget_overflow .widget {
    margin-bottom: 30px
}

.widget h3 {
    margin-top: 0
}

/* === Slide Widget === */

#slide_widget {
    float: right;
    width: 300px;
    min-height: 270px;
    margin-bottom: -30px;
    display: none;
    padding: 15px 0;
}

.wp_email_slide {
    background-color: #F5F5F5
}

#slide_widget_inner {
    display: table;
    height: 270px;
}

#slide_widget .widget {
    margin-bottom: 30px;
    display: table-cell;
    vertical-align: middle;
}

.wp_email_capture_wrap {
    padding: 0 20px;
    text-align: center;
    color: #757575;
}

    .wp_email_capture_wrap form {
        margin-top: 10px
    }

#slide_widget .wp_email_capture_wrap {
    width: 260px
}

.wp_email_capture_wrap input[type="submit"] {
    width: 100%;
    margin: 0;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    text-transform: none;
}

.wp_email_capture_wrap h3 {
    text-transform: uppercase;
    margin: 0 !important;
    padding-bottom: 50px !important;
    background: url("images/stars.png") bottom center no-repeat transparent;
    border: none !important;
}

.wp_email_capture_wrap label {
    display: none
}

.wp_email_capture_wrap input[type="text"] {
    margin: 0 0 10px;
    width: 238px !important;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #757575;
}

#sidebar .wp_email_capture_wrap input[type="text"] {
    width: 258px !important
}

/* SlabText */

.slabload {
    display: none
}

.slabtexted .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
}

.slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: 0 !important;
    *word-spacing: 0 !important;
}

.slabtextdone .slabtext {
    display: block
}

#slide_widget .slabwrap {
    display: table;
    width: 300px;
    height: 290px;
    border-top: 5px solid #EFEFEF;
    border-bottom: 5px solid #EFEFEF;
}

h1.slabtextdone {
    line-height: 0.9;
    margin: 0;
}

#slide_widget h1.slabtextdone {
    display: table-cell;
    vertical-align: middle;
}

    #slide_widget h1.slabtextdone span {
        width: 300px
    }

/* === Slider Area === */

#slides_wrap {
    width: 920px;
    max-width: 100%;
    height: auto;
    background: #FFFFFF;
    padding: 19px 19px 29px;
    margin: -19px;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset;
    -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset;
}

	.body_boxed #slides_wrap {
		padding-bottom: 49px
	}

#slides_wrap.home_space {
    margin-bottom: 30px !important
}

#slides {
    width: 600px;
    max-width: 100%;
    height: auto;
    position: relative;
    display: block;
    float: left;
    overflow: visible !important;
}

.slides_container .slide_image_wrap {
    padding: 0;
    border: 0;
    display: block;
    height: auto;
    width: 600px;
    background-color: #FEFEFE;
    max-width: 100%;
}

    .slides_container .slide_image_wrap .wp-post-image {
        padding: 0;
        border: 0;
        display: block;
        width: 100%;
        height: auto;
    }

.slides_container {
    height: auto;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: -1px;
    border: 1px solid #E6E6E6;
    display: none;
    background-color: #FEFEFE;
}

    .slides_container .slide_text_overlay {
        padding: 10px;
        background-image: url("images/trans_dark.png");
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        color: #FFFFFF;
        text-align: center;
        -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
    }

    .slides_container div {
        width: 600px;
        height: auto;
        max-width: 100%;
        display: block;
    }

.pagination {
    position: relative;
    float: left;
    left: 50%;
}

    .pagination li {
        float: left;
        list-style: none outside none;
        margin: 15px 5px 0;
        position: relative;
        right: 50%;
    }

        .pagination li a {
            width: 12px;
            height: 12px;
            display: block;
            padding: 0;
            margin: 0;
            text-indent: -9999px;
            background: url("images/sliderbuttons.png") 0 -12px no-repeat transparent;
        }

    .pagination li.current a {
        background: url("images/sliderbuttons.png") 0 0 no-repeat transparent
    }

/* ============================================== POSTS ============================================== */

.post_content h4 a:hover,
.blog-home-post h3 a:hover {
    text-decoration: none
}

.post_content h4 a:hover:after,
.blog-home-post h3 a:hover:after {
    content: "\00bb";
    margin: 0 0 0 5px;
}

.entry-title,
#sidebar .widgettitle {
    padding-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
    margin: 0 0 20px;
    line-height: 1.5em;
}

.blog-content {
    float: right;
    width: 440px;
}

.meta,
.additional-meta,
.post_meta,
.single-meta {
    font-size: 11px;
    color: #737373;
    line-height: 15px;
}

.post_meta {
    float: left;
    width: 120px;
    display: block;
    text-align: right;
    margin-top: 1px;
}

.meta_block {
    margin: 0 0 15px
}

    .meta_block span {
        display: block;
        font-weight: bold;
    }

.share {
    float: right
}

    .share a {
        display: block;
        float: left;
        margin: 5px 0 0 5px;
    }

.additional-meta {
    margin: 0 0 20px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.03);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.single-meta {
    margin: 30px 0 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.03);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.additional-meta_comments {
    position: absolute;
    top: 5px;
    right: -30px;
    z-index: 2;
    height: 46px;
    line-height: 47px;
    width: 46px;
    display: block;
}

.first_blog_post .additional-meta_comments {
    top: 10px
}

.additional-meta_comments .comments-link {
    display: block;
    height: 46px;
    line-height: 47px;
    width: 46px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: none;
    text-decoration: none;
    font-size: 18px;
}

.entry-content-single {
    margin: 0 0 40px
}

#post-single {
    margin: 0 0 20px
}

#post-single_portfolio {
    margin: 0 0 40px
}

.posts-wrap {
    clear: none;
    width: 600px;
}

.about_the_author {
    padding: 19px;
    margin: 30px 0 40px;
    border: 1px solid #EFEFEF;
    background: #F5F5F5;
}

    .about_the_author img {
        padding: 4px;
        background: #FFFFFF;
        border: 1px solid #CFCFCF;
        margin: 0 20px 0 0;
        float: left;
    }

.author_info {
    float: left;
    width: 460px;
}

.author_title,
.author_about {
    margin-bottom: 10px
}

    .author_title h3 {
        margin: 0
    }

.author_links a {
    float: left;
    margin: 0 70px 0 0;
    font-size: 12px;
}

.post_content {
    position: relative
}

#fancybox-title-float-wrap {
    text-shadow: none
}

#home_video_wrap {
    margin-bottom: 30px
}

#home_video {
    float: left;
    padding: 4px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    width: 380px;
    height: 223px;
    margin-right: 20px;
}

#home_video_desc {
    float: right;
    width: 190px;
}

    #home_video_desc h4 {
        margin-top: 0;
        line-height: 20px;
    }

.body_boxed .the_blog {
    margin-bottom: -60px
}

.the_blog .post,
.search_results > div {
    margin-bottom: 60px
}

/* ============================================== ARCHIVE ============================================== */

.the_archive .post {
    border-bottom: 1px solid #CFCFCF;
    margin: 0 0 40px;
}

.post-archive {
    padding: 20px 0 20px 70px;
    position: relative;
    min-height: 50px;
    line-height: 25px;
    border-top: 1px solid #FFFFFF;
}

.post-archive_wrap:first-child,
.post-archive_wrap:first-child .post-archive {
    border-top: none
}

.post-archive .archive_image_link {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px 0px #BEBEBE;
    -moz-box-shadow: 0px 1px 1px 0px #BEBEBE;
    box-shadow: 0px 1px 1px 0px #BEBEBE;
    height: 46px;
    width: 46px;
}

h3.archive-entry-title {
    margin: 0;
    line-height: 25px;
}

.archive-meta {
    font-size: 11px;
    color: #555555;
}

/* ============================================== THE EVENTS CALENDAR ============================================== */

.tribe-events-single-section {
	word-wrap: break-word;
}

.events-archive #page > .entry-title,
.single-tribe_events #page > .entry-title {
    display: none
}

.tribe-events-single-event-title {
	border: none;
}

h2.tribe-events-page-title,
#tribe-geo-results h2.tribe-events-page-title {
	line-height: 1.5em;
}

#tribe-events-content {
    padding: 0 !important
}

.tribe-events-month-nav,
.events-archive.page-template-page-full-php .entry-content,
.events-archive.page-template-page-full-php .entry-header {
    display: block;
    width: 100% !important;
}

.events-archive .event-day,
.single-tribe_venue .event-day,
.venue-events .event-day {
    font-size: 14px !important
}

.single-tribe_venue .upcoming .entry-title,
.events-archive .upcoming .entry-title {
    display: block !important;
    font-weight: normal !important;
}

.events-archive .entry-content .entry-content {
    width: 60% !important
}

.tribe-events-month-nav {
    position: relative !important
}

#tribe-events-calendar-header {
    height: 24px !important;
    margin-bottom: 20px;
}

.tribe-events-calendar-buttons {
    top: 0 !important
}

    .tribe-events-calendar-buttons a {
        margin: 0 0 0 10px !important;
        font-size: 9px !important;
        font-weight: normal !important;
    }
    
table.tribe-events-calendar .entry-title {
	display: block !important;
	padding: 0;
	border: none;
}

.events-archive .event-day,
.single-sp_venue .event-day,
.venue-events .event-day {
    font-style: normal !important
}

.widget .upcoming,
#sidebar .vcalendar {
    margin-top: -15px
}

#sidebar .upcoming .tribe_events,
#sidebar .vcalendar .type-tribe_events {
    padding: 15px 0 !important
}

    #sidebar .upcoming .tribe_events div,
    #sidebar .vcalendar .type-tribe_events > * {
        padding-left: 15px;
        border-left: 5px solid #EFEFEF !important;
        font-size: 12px;
    }
    
    #sidebar .vcalendar .type-tribe_events h4.entry-title {
	    padding-bottom: 0;
	    border-bottom: none;
	    margin-bottom: 0;
    }

.tribe_events .navlink {
    display: none
}

.widget .dig-in a,
.widget .tribe-events-widget-link a {
    font-size: 12px;
    margin-left: 20px;
}

.widget .dig-in a:after,
.widget .tribe-events-widget-link a:after {
    content: "\0000a0\00bb"
}

.tribe-events-page-template #content .container {
    background-image: none !important
}

/* ============================================== SIDEBARS & WIDGETS ============================================== */

#sidebar {
    width: 280px
}

.content_right #sidebar {
    float: left
}

.content_left #sidebar {
    float: right
}

#sidebar .widget {
    margin: 0 0 40px;
    padding: 0;
}

#header #searchform {
    width: 280px
}

    #searchform input#s[type="text"] {
        width: 	calc(100% - 102px);
        color: #777777;
        float: left;
        -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		height: 30px;
    }

    #searchform input[type="submit"] {
        float: right;
        height: 30px;
    }

/* testimonial */

#sidebar .widget_testimonial {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: url("images/testimonial_back.png") 0 0 repeat-y transparent;
    position: relative;
    padding: 31px 19px 20px 39px;
    line-height: 31px;
    font-style: oblique;
    border: none;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: #e8e8e8;
    width: 220px;
    color: #525252;
    -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
}

    #sidebar .widget_testimonial h4 {
        line-height: 31px;
        margin: 0 0 31px;
        font-style: normal;
        border: none !important;
    }

#sidebar .widget_testimonial:before {
    content: url("images/testimonial_back_cap.png");
    position: absolute;
    top: -14px;
    left: 0;
    height: 5px;
    display: block;
}

#sidebar .widget_testimonial:after {
    content: url("images/testimonial_back_cap.png");
    position: absolute;
    bottom: 14px;
    left: 0;
    height: 5px;
    display: block;
}

.widget_testimonial .the_testimonial {
    font-style: normal;
    text-align: left;
}

.widget_testimonial .the_testimonial:before {
    content: url("images/testimonial_open.png");
    float: left;
    margin: 0 10px 0 0;
}

.widget_testimonial .the_testimonial:after {
    content: url("images/testimonial_close.png");
    display: inline;
    margin: 0 0 0 7px;
    clear: both;
}

.widget_testimonial .the_testimonial_author {
    float: right;
    text-align: right;
    font-family: Georgia,serif;
}

.widget_testimonial span {
    font-size: 11px;
    display: block;
}

/* featured user */

.featured_user .avatar {
    float: left;
    border: 1px solid #D3D3D3;
    margin: 0 10px 5px 0;
    padding: 2px;
    background-color: #FFFFFF;
}

.featured_user strong {
    display: block;
    margin-bottom: 10px;
}

#calendar_wrap,
#wp-calendar {
    width: 100%;
    text-align: center;
}

    #calendar_wrap caption {
        margin: 0 0 10px
    }

#sidebar .widget li {
    padding: 10px 0;
    border-top: 1px solid #EFEFEF;
}

#sidebar .widget li:first-child {
    border: none;
    padding: 0 0 10px;
}

#sidebar .widget li:last-child {
    padding: 10px 0 0
}

#recent_posts .recent_line {
    line-height: 50px;
    padding-left: 60px;
    position: relative;
}

    #recent_posts .recent_line .attachment-archive_image {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 2px;
        background-color: #252525;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 0 0 #474747;
        -moz-box-shadow: 0 1px 0 0 #474747;
        box-shadow: 0 1px 0 0 #474747;
    }

/* ============================================== 404-PAGE ============================================== */

#error404 {
    margin: 50px 0;
    text-align: center;
    width: 100%;
}

.error404 h1,
.error404 h2 {
    margin: 10px auto
}

/* ============================================== COMMENTS & FORMS ============================================== */

label {
    display: block;
    margin: 0 0 2px;
}

#comments_wrap {
    background-color: #F5F5F5;
    border: 1px solid #EFEFEF;
    padding: 4px;
    margin: 0 0 30px;
}

ul.commentlist > li > ul.children {
    border-left: 5px solid #E5E5E5
}

ul.commentlist,
ul.pinglist {
    margin: -5px 0 0
}

div.reply {
    text-align: right;
    font-size: 12px;
}

textarea#comment {
    overflow: auto
}

ul.commentlist li,
ul.pinglist li {
    position: relative;
    margin: 5px 0 0;
    padding: 19px;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
}

ul.commentlist ul li {
    position: relative;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #E5E5E5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

ul.commentlist > ul > li {
    padding-left: 20px 0 0 20px
}

ul.commentlist img.avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 4px;
    position: absolute;
    top: 20px;
    left: 20px;
}

ul.commentlist .bypostauthor img.avatar {
    border: 1px solid #0063AA
}

ul.commentlist .not_author img.avatar {
    border: 1px solid #CFCFCF
}

.the_comment {
    padding: 0 0 0 90px
}

.the_comment_author {
    width: auto;
    margin-right: 10px;
}

.commentmetadata {
    float: left;
    width: auto;
    color: #ABABAB;
}

.the_comment_text {
    margin-top: 10px
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 20px;
    padding: 4px 10px;
    width: 230px;
    line-height: 20px;
    border: 1px solid #CFCFCF;
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    height: 200px;
    padding: 10px;
    width: 578px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 1px solid #9C9C9C
}

#respond {
    margin: 20px 0 0
}

.commentlist #respond {
    background: #FFFFFF;
    margin: 5px 0 0;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px #BEBEBE;
    -moz-box-shadow: 0px 1px 1px 0px #BEBEBE;
    box-shadow: 0px 1px 1px 0px #BEBEBE;
}

    .commentlist #respond #reply-title {
        margin-top: 0
    }

#reply-title small {
    font-weight: normal;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    display: inline-block;
}

.commentlist .children #respond {
    border-top: 1px solid #E5E5E5;
    margin: 15px 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.commentlist #respond textarea {
    width: 96%
}

#cancel-comment-reply {
    float: left;
    margin: 0 0 0 20px;
    line-height: 28px;
}

/* ============================================== ALIGNMENTS ==============================================*/

.alignright {
    float: right;
    margin: 0 0 15px 15px;
}

.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}

.aligncenter {
    margin: 0 auto 15px;
    text-align: center;
}

.alignnone {
    margin: 0 0 15px
}

.alignright,
.alignleft,
.aligncenter,
.alignnone {
    width: auto
}

.alignright,
.alignleft,
.aligncenter,
.alignnone,
.attachment-blog_image,
.attachment-single_latest,
.single_latest_img_link img {
    padding: 4px;
    position: relative;
    background-color: #FFFFFF;
    z-index: 1;
    border: 1px solid #DEDEDE;
    display: block;
}

    .alignright img,
    .alignleft img,
    .aligncenter img,
    .alignnone img {
        display: block;
        padding: 0;
        margin: 0;
    }
 
.wp-caption {
	background-color: #f3f3f3;
} 
   
.wp-caption img {
	margin: 5px 5px 10px;
}

.attachment-blog_image,
.vid-wrap {
    margin: 0 0 20px
}

.attachment-blog_image {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	opacity: 1;
}

	.attachment-blog_image:hover {
		opacity: .8;
	}

p.wp-caption-text {
    margin: 0;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
}

/* ============================================== NAVIGATION ==============================================*/

div.navigation {
    width: 100%;
    height: auto;
    clear: both;
    padding: 0px;
}

    div.navigation a {
        margin-bottom: 60px;
        display: block;
    }

.nav-next {
    float: right;
    clear: none;
    width: 48%;
    text-align: right;
}

.nav-prev {
    float: left;
    clear: none;
    width: 48%;
    text-align: left;
}

/* ============================================== OPTIONS ==============================================*/

/* Layout */

.content_left .posts-wrap,
.content_right #sidebar {
    float: left
}

.content_left #sidebar {
    margin: -40px -20px -40px 0;
    padding: 40px 20px 20px;
}

.content_right .posts-wrap,
.content_left #sidebar {
    float: right
}

.content_right #sidebar {
    margin: -40px 0 -40px -20px;
    padding: 40px 20px 20px;
}

.body_boxed.content_left #content .container {
    background-image: url("images/bg_sidebar_right.png");
    background-repeat: repeat-y;
    background-position: right top;
}

.page-template-default.body_boxed.content_left #content .container {
    background-image: url("images/bg_sidebar_right.png") !important
}

.body_boxed.content_right #content .container {
    background-image: url("images/bg_sidebar_left.png");
    background-repeat: repeat-y;
    background-position: left top;
}

.page-template-default.body_boxed.content_right #content .container {
    background-image: url("images/bg_sidebar_left.png") !important
}

.page-template-page-full-php #content .container {
    background-image: none !important
}

/* Body Styles */

.body_boxed #header {
    position: relative;
    z-index: 5;
}

    .body_boxed #header #main_menu {
        position: relative;
        z-index: 5;
        background-image: url("images/ribbon_menu.png");
        background-repeat: no-repeat;
        margin: 0 auto -10px;
        width: 100%;
    }

.body_boxed #home_widgets:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #B1B1B1;
    border-left: 10px solid transparent;
}

.body_boxed #home_widgets:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #B1B1B1;
    border-right: 10px solid transparent;
}

#main_menu_wrap {
    position: relative
}

.body_span #main_wrap {
    overflow-x: hidden
}

.body_span #header {
    background-color: #FFFFFF;
    min-height: 176px !important;
    height: auto;
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
}

    .body_span #header #main_menu {
        position: relative;
        z-index: 999;
        width: 100% !important;
        padding: 0;
    }

.body_span #main_menu > ul {
    margin-left: 10px
}

.body_span #main_menu ul > li {
    line-height: 50px;
    margin: 0;
    padding-bottom: 0;
}

.body_span #main_menu ul li li {
    line-height: 30px;
    margin: 0 0 0 10px;
    padding-bottom: 0;
}

.body_span #main_menu ul.menu li ul {
    top: 50px
}

.body_span #main_menu li:hover a,
.body_span #main_menu li.current-menu-item a,
.body_span #main_menu li.current_page_item a,
.body_span #main_menu li.current_page_parent a,
.body_span #main_menu li.current-menu-parent a {
    border-radius: 0
}

.body_span #content .container {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-color: none;
    border-style: none;
    border-width: 0;
    padding: 40px 20px;
}

.body_span #content {
    background-color: #FFFFFF;
    padding: 0;
    margin-top: 0;
}

.body_span #slides_wrap {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #DCDCDC;
    margin: -30px 0 -19px;
    min-height: 332px;
    padding: 30px 0 29px;
}

.body_span #home_widgets {
    border-left: none;
    border-right: none;
    padding: 30px 0;
    margin: 15px 0 30px;
    background-image: none !important;
}

/* Color Schemes */

.body_boxed.scheme_blue #main_menu {
    background-position: center 0
}

.body_boxed.scheme_red #main_menu {
    background-position: center -60px
}

.body_boxed.scheme_yellow #main_menu {
    background-position: center -120px
}

.body_boxed.scheme_green #main_menu {
    background-position: center -180px
}

.body_span.scheme_blue #main_menu {
    background-color: #0063aa
}

.body_span.scheme_red #main_menu {
    background-color: #aa0000
}

.body_span.scheme_yellow #main_menu {
    background-color: #FFD037
}

.body_span.scheme_green #main_menu {
    background-color: #418933
}

.scheme_blue #main_menu li:hover a,
.scheme_blue #main_menu li.current-menu-item a,
.scheme_blue #main_menu li.current_page_item a,
.scheme_blue #main_menu li.current_page_parent a,
.scheme_blue #main_menu li.current-menu-parent a,
.scheme_blue #main_menu ul li ul {
    background-color: #074571
}

.scheme_red #main_menu li:hover a,
.scheme_red #main_menu li.current-menu-item a,
.scheme_red #main_menu li.current_page_item a,
.scheme_red #main_menu li.current_page_parent a,
.scheme_red #main_menu li.current-menu-parent a,
.scheme_red #main_menu ul li ul {
    background-color: #630505
}

.scheme_yellow #main_menu li:hover a,
.scheme_yellow #main_menu li.current-menu-item a,
.scheme_yellow #main_menu li.current_page_item a,
.scheme_yellow #main_menu li.current_page_parent a,
.scheme_yellow #main_menu li.current-menu-parent a,
.scheme_yellow #main_menu ul li ul {
    background-color: #F2B017
}

.body_span.scheme_yellow #main_menu ul li ul {
    border-top: 1px solid #6D6D6D
}

.scheme_yellow #main_menu a {
    color: #252525 !important;
    text-shadow: none;
}

.scheme_green #main_menu li:hover a,
.scheme_green #main_menu li.current-menu-item a,
.scheme_green #main_menu li.current_page_item a,
.scheme_green #main_menu li.current_page_parent a,
.scheme_green #main_menu li.current-menu-parent a,
.scheme_green #main_menu ul li ul {
    background-color: #06601D
}

.scheme_blue #pre_header {
    background: none top center repeat #235FA7
}

.scheme_red #pre_header {
    background: none top center repeat #983333
}

.scheme_yellow #pre_header {
    background: none top center repeat #FFD037
}

.scheme_green #pre_header {
    background: none top center repeat #06601D
}

/* Backgrounds */

.body_span {
    background: #FFFFFF !important
}

.bg_fabric {
    background: url("images/bg_fabric.png") top center repeat #DDDDDD
}

.bg_cork {
    background: url("images/bg_cork.png") top center repeat #DDDDDD
}

.bg_freckles {
    background: url("images/bg_freckles.png") top center repeat #DDDDDD
}

.bg_linen {
    background: url("images/bg_linen.png") top center repeat #DDDDDD
}

.bg_pinstripe {
    background: url("images/bg_pinstripes.png") top center repeat #DDDDDD
}

.bg_none {
    background: none top center repeat #DDDDDD
}

/* SC edits for University of Chicago - Faculty Forward site*/
input[type="submit"], .button, .scheme_red #main_menu #donate_now {
    background-color: #f15d2d !important;
    background-image: none;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia,serif;
    font-size: 12px;
    height: auto;
    letter-spacing: 0.1em;
    line-height: 29px;
    min-width: 65px;
    outline: medium none;
    padding: 0 15px;
    text-align: center;
    text-shadow: 0 1px 0 #333333;
    text-transform: uppercase;
    width: auto;
}

.scheme_blue #pre_header {
    background: #494747 none repeat scroll center top;
}

.scheme_blue #main_menu li:hover a, .scheme_blue #main_menu li.current-menu-item a, .scheme_blue #main_menu li.current_page_item a, .scheme_blue #main_menu li.current_page_parent a, .scheme_blue #main_menu li.current-menu-parent a, .scheme_blue #main_menu ul li ul {
    background-color: #494747;
}

/* Media for anything with a max width of 960px. Mostly large tablets such as the iPad */

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
	/* Set the .body_span styles for responsive */

	#logo_wrap {
	    padding: 20px 0
	}

	#main_menu #donate_now {
	    right: 0
	}

	#header,
	.body_span #header {
	    background-color: #FFFFFF;
	    min-height: 176px !important;
	    height: auto;
	    -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
	    -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
	    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
	    position: relative !important;
	}

	#content .container {
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    background-color: transparent;
	    border-color: none;
	    border-style: none;
	    border-width: 0;
	    padding: 40px 20px;
	}

	#content {
	    background-color: #FFFFFF;
	    padding: 0;
	    margin-top: 0;
	    overflow: hidden !important;
	    border-bottom: none;
	}

	#slides_wrap {
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    border-bottom: 1px solid #DCDCDC;
	    margin: -40px -9999px -19px;
	    min-height: 332px;
	    padding: 40px 9999px 29px;
	}

	#home_widgets {
	    border-left: none;
	    border-right: none;
	    padding: 30px 9999px;
	    margin: 15px -9999px 30px;
	    background-image: none !important;
	}

	#home_widgets:before,
	#home_widgets:after {
	    border: none !important
	}

	/* General Stuff */

	img {
	    max-width: 100%
	}

	body,
	body.body_span {
	    background-image: none !important;
	    background-color: #EBEBEB !important;
	}

	#main_wrap {
	    width: 100% !important;
	    background-color: #FFFFFF;
	    border-bottom: 1px solid #C8C8C8;
	}

	#header,
	#content,
	#footer {
	    width: 740px;
	    overflow: hidden;
	}

	.content_left #main_content .container,
	.content_left.page-template-default.events-archive #main_content .container {
	    background: url("images/bg_sidebar_right.png") right top repeat-y transparent
	}

	.content_right #main_content .container,
	.content_right.page-template-default.events-archive #main_content .container {
	    background: url("images/bg_sidebar_left.png") left top repeat-y transparent
	}

	#main_menu .header-menu-wrap {
	    clear: both;
	    float: left;
	    margin-top: 20px;
	}

	#main_menu #donate_now {
	    float: left !important
	}

	.container,
	#footer_widgets_wrap {
	    width: 700px !important
	}

	#footer .container {
	    padding: 40px 0 0;
	    width: 700px;
	}

	#footer_widgets_wrap {
	    width: 700px
	}

	#footer_widgets {
	    width: 740px !important;
	    margin-right: -40px !important;
	}

	.footer_widget_count1 .footer_widget,
	#home_widget_wrap.banner_widget_count1 .widget {
	    width: 700px
	}

	.footer_widget_count2 .footer_widget,
	.footer_widget_count4 .footer_widget,
	#home_widget_wrap.banner_widget_count2 .widget,
	#home_widget_wrap.banner_widget_count4 .widget {
	    width: 335px;
	    margin-right: 30px;
	}

	.footer_widget_count3 .footer_widget,
	.footer_widget_count5 .footer_widget,
	.footer_widget_overflow .footer_widget,
	#home_widget_wrap.banner_widget_count3 .widget,
	#home_widget_wrap.banner_widget_count5 .widget,
	#home_widget_wrap.banner_widget_overflow .widget {
	    width: 210px;
	    margin-right: 35px;
	}

	.footer_widget_count4 .footer_widget:nth-child(2n+1),
	.footer_widget_count5 .footer_widget:nth-child(3n+1),
	#home_widget_wrap.banner_widget_count4 .widget:nth-child(2n+1),
	#home_widget_wrap.banner_widget_count5 .widget:nth-child(3n+1) {
	    clear: both
	}

	.posts-wrap,
	#container {
	    width: 460px
	}

	.vid-wrap iframe {
	    width: 460px;
	    height: 259px;
	}

	textarea {
	    width: 438px
	}

	#sidebar {
	    width: 200px
	}

	.about_the_author .author_info {
	    width: 320px
	}  

	#post_footer {
	    text-align: center
	}

	    #post_footer .right {
	        float: none
	    }

	.footer_menu_wrap {
	    display: none
	}

	.blog-content {
	    width: 320px
	}

	.attachment-blog_image {
	    max-width: 450px;
	    max-height: 300px;
	}

	.events-gridview.events-archive .tribe-events-calendar-buttons {
	    top: -28px !important;
	    left: 0;
	    right: auto;
	}

	.events-gridview.events-archive .tribe-events-month-nav {
	    margin-top: 5px
	}

	/* == Home Page == */

	#home_video {
	    margin: 0 0 20px;
	    float: none;
	    width: 450px;
	    height: 253px;
	}

	    #home_video iframe {
	        width: 450px;
	        height: 253px;
	    }

	#home_video_desc {
	    border-bottom: 1px solid #EFEFEF;
	    float: none;
	    padding-bottom: 10px;
	    text-align: center;
	    width: 100%;
	}

	#latest-posts-title {
	    width: 460px
	}

	.single_latest {
	    width: 140px;
	    margin-right: 20px;
	}

	a.fallback,
	.single_latest_img_link img {
	    width: 130px;
	    height: 94px;
	    line-height: 94px;
	}

	/* Home Banner */

	#home_widget_wrap.banner_widget_count2.wp_email_banner .widget:first-child {
	    width: 480px
	}

	#home_widget_wrap.banner_widget_count2.wp_email_banner .widget {
	    width: 180px
	}

	.wp_email_capture_wrap input[type="text"] {
	    text-align: center
	}

	#home_widget_wrap.banner_widget_count3 .wp_email_capture_wrap input[type="text"],
	#home_widget_wrap.banner_widget_count5 .wp_email_capture_wrap input[type="text"],
	#home_widget_wrap.banner_widget_overflow .wp_email_capture_wrap input[type="text"] {
	    width: 188px !important
	}

	.wp_email_capture_wrap input[type="submit"] {
	    width: 100%;
	    margin-top: 10px;
	}

	/* Mobile Menu */

	#main_menu select.select-menu {
	    display: block;
	    position: relative;
	    top: 4px;
	    z-index: 10;
	    width: 280px !important;
	    height: 41px !important;
	    line-height: 26px;
	    -webkit-appearance: menulist-button;
	}

	#main_menu span.select {
	    display: block;
	    overflow: hidden;
	}

	#main_menu span.select {
	    position: absolute;
	    bottom: 0;
	    float: left;
	    left: 0;
	    width: 280px;
	    height: 42px;
	    line-height: 43px;
	    font-size: 14px;
	    font-weight: bold;
	    color: #fff;
	    text-indent: 50px;
	    background: url("images/select.png") 0 0 no-repeat transparent;
	    background-size: 280px 43px;
	    cursor: default;
	    z-index: 1;
	    top: 3px;
	}

	#main_menu ul {
	    display: none
	}

	/* Slider */

	#slides_wrap {
	    width: 700px
	}

	#slides {
	    margin: 0 50px 30px
	}

	.slides_control > div,
	.slides_container .slide_image_wrap .wp-post-image {
	    margin: auto
	}

	#slide_widget {
	    margin: 20px -20px -30px;
	    width: 740px;
	    min-height: 0px;
	    -webkit-box-shadow: 0px 0px 0px 1px #DCDCDC inset;
	    -moz-box-shadow: 0px 0px 0px 1px #DCDCDC inset;
	    box-shadow: 0px 0px 0px 1px #DCDCDC inset;
	}

	#slide_widget_inner {
	    width: 100%;
	    padding: 20px 0 10px;
	    height: auto;
	}

	#slide_widget #wp_email_capture {
	    float: none;
	    width: 700px;
	}

	    #slide_widget #wp_email_capture form {
	        margin: 0
	    }

	#slide_widget input[type="text"] {
	    width: 198px !important;
	    margin: 0 20px 10px 0;
	    float: left;
	    text-align: left;
	}

	#slide_widget input[type="submit"] {
	    width: 220px !important;
	    float: left;
	    margin: 0;
	}

	#slide_widget .widget.wp_email_capture_wrap .textwidget {
	    margin-bottom: 20px
	}

	#slide_widget .widget.wp_email_capture_wrap:after {
	    content: '';
	    display: block;
	    height: 0;
	    width: 0;
	    clear: both;
	}

	#slide_widget .wp-email-capture-fields1 input[type="text"],
	#slide_widget .wp-email-capture-fields4 input[type="text"] {
	    width: 146px !important;
	    margin-right: 10px;
	}

	#slide_widget .wp-email-capture-fields1 input[type="submit"],
	#slide_widget .wp-email-capture-fields4 input[type="submit"] {
	    width: 166px !important
	}

	#slide_widget .wp-email-capture-fields2 {
	    margin-left: 1px
	}

	    #slide_widget .wp-email-capture-fields2 input[type="text"] {
	        width: 145px !important;
	        margin-right: 10px;
	    }

	    #slide_widget .wp-email-capture-fields2 input[type="text"]:nth-child(8) {
	        margin-right: 0
	    }

	    #slide_widget .wp-email-capture-fields2 input[type="submit"] {
	        min-width: 166px;
	        width: auto !important;
	        clear: both;
	        float: none;
	        margin: auto;
	    }

	#slide_widget .wp-email-capture-fields3 input[type="text"],
	#slide_widget .wp-email-capture-fields5 input[type="text"] {
	    width: 198px !important
	}

	#slide_widget .wp-email-capture-fields3 input[type="text"]:nth-child(6),
	#slide_widget .wp-email-capture-fields5 input[type="text"]:nth-child(6) {
	    margin-right: 0
	}

	#slide_widget .wp-email-capture-fields3 input[type="submit"],
	#slide_widget .wp-email-capture-fields5 input[type="submit"] {
	    width: 220px !important
	}

	/* Sidebar */

	.body_boxed.content_left #content .container {
	    background-position: 500px top
	}

	.body_boxed.content_right #content .container {
	    background-position: -80px top
	}

	#sidebar .widget_testimonial {
	    width: auto;
	    background: none no-repeat scroll 0 0 #FFFFFF;
	    padding: 19px;
	}

	#sidebar .widget_testimonial:before {
	    content: ""
	}

	#sidebar .widget_testimonial:after {
	    display: block;
	    content: "";
	    position: absolute;
	    width: 110px;
	    height: 30px;
	    top: -21px;
	    left: 50%;
	    margin-left: -55px;
	    border: 1px solid rgba(254, 254, 254, 0.2);
	    background: rgba(254, 254, 254, .2);
	    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	    box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	}

	#sidebar .widget_testimonial h4 {
	    margin: 0
	}

	#sidebar .wp_email_capture_wrap input[type="text"] {
	    width: 178px !important
	}
	
	#sidebar #searchform input#s[type="text"] {
		width: 100%;
	}
	
	#sidebar #searchform input[type="submit"] {
		width: 100%;
		margin-top: 10px;
		height: 26px;
		line-height: 26px;
	}

	/* Events Cal */

	.events-list .tribe-events-event-entry {
	    width: 420px !important
	}

	/* Color Schemes */

	#main_menu {
	    background-image: none !important
	}

	.scheme_blue #main_menu {
	    background-color: #0063aa
	}

	.scheme_red #main_menu {
	    background-color: #aa0000
	}

	.scheme_yellow #main_menu {
	    background-color: #FFD037
	}

	.scheme_green #main_menu {
	    background-color: #418933
	}

	.scheme_yellow #main_menu ul li ul {
	    border-top: 1px solid #6D6D6D
	}
}

/* Media for anything with a max width of 767px. Mostly small tablets and iPhones & Smartphones */

@media only screen and (min-width: 0px) and (max-width: 767px) { 
	/* Set the .body_span styles for responsive */

	#logo_wrap {
	    padding: 20px 0
	}

	#header,
	.body_span #header {
	    background-color: #FFFFFF;
	    height: auto !important;
	    -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
	    -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
	    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
	    position: relative !important;
	}

	#content .container {
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    background-color: transparent;
	    border-color: none;
	    border-style: none;
	    border-width: 0;
	    padding: 40px 20px;
	}

	#content {
	    background-color: #FFFFFF;
	    padding: 0;
	    margin-top: 0;
	    overflow: hidden !important;
	    border-bottom: none;
	}

	/* General things */

	img {
	    max-width: 100%
	}

	body,
	body.body_span {
	    background-image: none !important;
	    background-color: #EBEBEB !important;
	}

	#logo_wrap {
	    padding: 20px 0
	}

	#main_menu {
	    padding-bottom: 10px !important
	}

	    #main_menu #donate_now {
	        right: 0;
	        bottom: 0;
	        position: relative;
	        -webkit-border-radius: 5px !important;
	        -moz-border-radius: 5px !important;
	        border-radius: 5px !important;
	        border: 0 !important;
	        margin: 10px 2px -3px !important;
	        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
	        -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
	        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
	        padding: 0;
	        height: 40px !important;
	        line-height: 40px !important;
	    }

	#main_wrap {
	    width: 100% !important;
	    min-width: 100% !important;
	}

	#home_widgets {
	    margin: 40px 0;
	    padding: 40px 0 0;
	    border-left: none;
	    border-right: none;
	}

	#home_widgets:before,
	#home_widgets:after {
	    border: none !important
	}

	.posts-wrap,
	#container {
	    width: 100%
	}

	#the_logo {
	    margin: 0 auto 20px;
	    text-align: center;
	    max-height: none !important;
	    height: auto;
	    text-align: center;
	    float: none !important;
	}

	    #the_logo a {
	        float: none !important;
	        display: block;
	    }

	    #the_logo img {
	        float: none !important;
	        text-align: center;
	        margin: auto;
	        max-width: 100%;
	        display: block;
	    }

	#main_menu #donate_now {
	    float: none !important;
	    display: block;
	    margin: 0;
	    text-align: center;
	}

	#main_menu {
	    position: relative
	}

	    #main_menu .header-menu-wrap {
	        clear: both;
	        height: 41px;
	        position: relative;
	        float: left;
	        display: block;
	        margin-top: 30px;
	    }

	    #main_menu form div {
	        position: relative
	    }

	/* Mobile Menu */

	#main_menu select.select-menu {
	    display: block;
	    position: relative;
	    z-index: 10;
	    width: 280px !important;
	    height: 41px !important;
	    line-height: 26px;
	    -webkit-appearance: menulist-button;
	}

	#main_menu span.select {
	    display: block
	}

	#main_menu span.select {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 280px;
	    height: 42px;
	    line-height: 43px;
	    font-size: 14px;
	    font-weight: bold;
	    color: #fff;
	    text-indent: 50px;
	    background: url("images/select.png") 0 0 no-repeat transparent;
	    background-size: 280px 43px;
	    cursor: default;
	    z-index: 1;
	    top: 3px;
	}

	#main_menu ul {
	    display: none
	}

	/* Slider */

	#slides_wrap {
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    padding: 20px 0;
	    margin: 0;
	    min-height: 0;
	    min-height: auto !important;
	}
	
	#slides {
		margin-bottom: 50px
	}
	
	.slides_container .slide_text_overlay {
		font-size: .9em;
		padding: 5px;
	}

	#slide_widget {
	    float: left;
	    width: 280px;
	}

	#slide_widget_inner {
	    height: auto;
	    padding: 30px 0;
	}

	.wp_email_capture_wrap input[type="text"] {
	    width: 218px !important
	}

	/* Sidebar */

	.body_boxed.content_right #content .container,
	.body_boxed.content_left #content .container,
	.page-template-default.body_boxed.content_right #content .container,
	.page-template-default.body_boxed.content_left #content .container,
	.content_right.page-template-default.events-archive #content .container,
	.content_left.page-template-default.events-archive #content .container {
	    background: none !important
	}

	#sidebar {
	    border-top: 5px solid #393939;
	    margin: 40px -9999px -40px !important;
	    padding: 40px 9999px 40px !important;
	    width: 100% !important;
	    background-color: #F5F5F5;
	}

	    #sidebar .widget_testimonial {
	        width: auto;
	        background: none no-repeat scroll 0 0 #FFFFFF;
	        padding: 19px;
	    }

	    #sidebar .widget_testimonial:before {
	        content: ""
	    }

	    #sidebar .widget_testimonial:after {
	        display: block;
	        content: "";
	        position: absolute;
	        width: 110px;
	        height: 30px;
	        top: -21px;
	        left: 50%;
	        margin-left: -55px;
	        border: 1px solid rgba(254, 254, 254, 0.2);
	        background: rgba(254, 254, 254, .2);
	        -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	        -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	        box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	    }

	    #sidebar .widget_testimonial h4 {
	        margin: 0
	    }

	/* everything else */

	.container,
	#footer_widgets_wrap,
	#footer .container,
	#footer_widgets,
	#home_widgets,
	#latest-posts-title {
	    width: 280px !important
	}

	#home_video,
	#home_video iframe {
	    width: 270px !important;
	    height: 150px !important;
	    margin: 0;
	    float: none;
	}

	.vid-wrap iframe {
	    width: 270px;
	    height: 150px;
	}

	#home_video_desc {
	    width: 100%;
	    float: none;
	    margin-top: 15px;
	}

	#latest-posts-title {
	    margin-right: 0;
	    text-align: left;
	}

	#home_latest_posts {
	    margin: 0
	}

	.single_latest {
	    float: none !important;
	    width: 100%;
	    margin: 0 0 30px;
	}

	.single_latest_img_link img,
	a.fallback,
	.single_latest .single_latest_img_link img.campaign_fallback {
	    height: auto;
	    width: 270px;
	    max-width: 100%;
	    line-height: 195px;
	}

	#footer .container {
	    padding: 40px 0 0
	}

	#footer_widgets .footer_widget,
	#home_widgets .widget {
	    width: 280px !important;
	    margin: 0 0 40px!important;
	    float: none !important;
	}

	.caption_image_wrap .post_caption_wrap {
	    width: 80%;
	    left: 10%;
	    overflow: hidden;
	}

	.post_caption_wrap h2 {
	    font-size: 28px;
	    line-height: 32px;
	}

	.caption_image_wrap .post_caption_wrap .post_caption .the_caption h2 em,
	.caption_image_wrap .post_caption_wrap .post_caption .the_caption h2.slab em {
	    font-size: 20px !important;
	    margin: 0 !important;
	}

	.slabtexted .slabtext {
	    white-space: normal
	}

	#tribe-events-event-meta .column {
	    float: none !important;
	    width: 96% !important;
	}

	.tribe-events-month-nav {
	    width: 100% !important
	}

	    .tribe-events-month-nav span {
	        display: none
	    }

	.tribe-events-calendar-buttons {
	    position: relative !important;
	    margin: 10px auto !important;
	}

	    .tribe-events-calendar-buttons a {
	        margin: 10px 20px 10px 0 !important
	    }

	#tribe-events-calendar-header {
	    height: auto !important
	}

	.events-gridview.events-archive #tribe-events-calendar-header {
	    margin-top: 0 !important
	}

	.events-list.events-archive #tribe-events-calendar-header {
	    margin: 0 0 10px !important;
	    position: relative;
	}

	#tribe-events-events-picker,
	#tribe-events-picker {
	    margin: 10px auto;
	    display: block !important;
	}

	    #tribe-events-events-picker select,
	    #tribe-events-picker select {
	        width: 100%;
	        height: auto;
	    }

	.events-archive .entry-content .entry-content {
	    width: 100% !important;
	    padding: 0 !important;
	}

	.tribe-events-month-nav,
	.events-archive .entry-content,
	.events-archive .entry-header {
	    width: 100% !important
	}

	.tribe-events-events .tribe-events-event-list-meta {
	    width: 100% !important;
	    padding: 20px 0 40px !important;
	    border: none !important;
	}

	/* posts */

	.post_meta {
	    float: none;
	    width: 100%;
	}

	.meta_block {
	    margin: 0 15px 15px 0;
	    float: left;
	    text-align: left;
	}

	.meta_block.share {
	    display: none
	}

	.blog-content {
	    width: 100%;
	    float: none;
	}

	.attachment-blog_image {
	    height: 180px;
	    width: 270px;
	}

	.alignright,
	.alignleft,
	.aligncenter,
	.alignnone {
	    margin: 20px 0;
	    padding: 0;
	}

	    .alignright,
	    .alignleft,
	    .aligncenter,
	    .alignnone,
	    .alignright img,
	    .alignleft img,
	    .aligncenter img,
	    .alignnone img {
	        width: 100% !important;
	        height: auto;
	    }

	.about_the_author img {
	    margin: 0 20px 10px 0
	}

	.about_the_author .author_info {
	    float: none;
	    width: auto;
	}

	.gallery {
	    width: 100%
	}

	    .gallery dl {
	        height: auto;
	        width: 100% !important;
	        float: none !important;
	    }

	        .gallery dl img {
	            margin: auto;
	        }
	        
	    .gallery br {
		    display: none;
	    }

	/* forms */

	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea {
	    width: 258px
	}

	.commentlist #respond input[type="text"],
	.commentlist #respond input[type="email"],
	.commentlist #respond input[type="password"],
	.commentlist #respond textarea {
	    width: 208px
	}

	.commentlist li ul li #respond input[type="text"],
	.commentlist li ul li #respond input[type="email"],
	.commentlist li ul li #respond input[type="password"],
	.commentlist li ul li #respond textarea {
	    width: 182px
	}

	/* footer */

	#post_footer {
	    text-align: center
	}

	    #post_footer .right {
	        float: none
	    }

	.footer_menu_wrap,
	.site_info_space {
	    display: none
	}

	.site_info_bloginfo {
	    display: block
	}

	#socnets_wrap #socnets a {
	    margin: 0 5px 10px
	}

	/* Color Schemes */

	#main_menu {
	    background-image: none !important;
	    height: auto;
	}

	.scheme_blue #main_menu {
	    background-color: #0063aa
	}

	.scheme_red #main_menu {
	    background-color: #aa0000
	}

	.scheme_yellow #main_menu {
	    background-color: #FFD037
	}

	.scheme_green #main_menu {
	    background-color: #418933
	}

	.scheme_yellow #main_menu ul li ul {
	    border-top: 1px solid #6D6D6D
	}
}

@media only screen and (min-width: 768px) { 

	#slides .fluid-width-video-wrapper {
		padding: 0 !important;
		height: 300px;
	}
	
	.footer_widget_count4 #searchform input#s[type="text"],
	.footer_widget_count5 #searchform input#s[type="text"] {
		width: 100%;
	}
	
	.footer_widget_count4 #searchform input[type="submit"],
	.footer_widget_count5 #searchform input[type="submit"] {
		width: 100%;
		margin-top: 10px;
		height: 26px;
		line-height: 25px;
	}
	
}